@import "../base/variables.scss";
.header {
  width: 100vw;
  padding: 8px 15px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgb(188, 188, 188);
  font-family: $primaryFontFamily;
}

.logo {
  font-weight: 500;
  span {
    color: rgb(81, 184, 43);
  }
}
